html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  height: auto;
}

.container {
  max-width: 1220px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header__logo_img {
  width: 80px;
  height: 80px;
}

.header__list + .header__list {
  margin-left: 53px;
}

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}

.site_header {
  position: absolute;
  width: 100%;
}

.header__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.site-food {
  background-image: url("../img/zoov.svg"), url("../img/kucu.jpg");
  background-size: 168px auto, cover;
  height: 800px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: right bottom 92px, center;
  padding: 225px 120px;
}

.food_content {
  max-width: 490px;
}

.food__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  font-family: "Oswald", sans-serif;
}

.food_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  max-width: 368px;
  margin-top: 12px;
  margin-bottom: 25px;
}

.food_buttun {
  width: 226.93px;
  height: 48px;
  background: #961914;
  border-radius: 8px;
  padding: 13px 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.sevda {
  position: relative;
  z-index: 1;
}

.sevda::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/sevda.svg");
  width: 265px;
  height: 100px;
  display: inline-block;
  z-index: -1;
  position: absolute;
  left: -18px;
}

.space {
  content: "";
  width: 27px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../img/menu.svg");
  display: none;
}

@media screen and (max-width: 1020px) {
  .header-content {
    display: none;
  }
  .space {
    display: block;
  }
}
@media screen and (max-width: 810px) {
  .site-food {
    background-size: 138px auto, cover;
  }
  .food_content {
    max-width: 390px;
  }
  .food__title {
    font-size: 40px;
    line-height: 100%;
  }
  .food_text {
    font-size: 17px;
    line-height: 100%;
  }
  .sevda::before {
    width: 190px;
    height: 80px;
    background-size: contain;
    left: -13px;
    top: -1px;
  }
}
@media screen and (max-width: 636px) {
  .site-food {
    padding: 225px 50px;
  }
  .site-food {
    background-size: 100px auto, cover;
  }
}
@media screen and (max-width: 510px) {
  .site-food {
    padding: 225px 8px;
  }
  .site-food {
    background-size: 90px auto, cover;
  }
  .food_content {
    max-width: 260px;
  }
  .food__title {
    font-size: 30px;
  }
  .food_text {
    font-size: 14px;
  }
  .sevda::before {
    width: 140px;
    height: 70px;
    background-size: contain;
    left: -12px;
  }
  .site-food {
    background-size: 88px auto, cover;
  }
}
.barf {
  margin-top: 151px;
}

.barf-title {
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 0.02em;
  font-family: "Oswald", sans-serif;
  margin-bottom: 32px;
}

.barf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 24px;
}

.barf-title2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 16px;
}

.barf-content__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-bottom: 15px;
}

.barf-content__list::before {
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 8px;
  background-image: url("../img/point.svg");
}

.barf-box {
  max-width: 584px;
}

.barf__content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.braf-inner-text::before {
  content: "";
  background-repeat: no-repeat;
  width: 30px;
  height: 14px;
  display: inline-block;
  background-image: url("../img/brf-sevda1.svg");
}

.braf-inner-text {
  margin-right: 16px;
  width: 190px;
  margin-bottom: 16px;
}

.braf-inner-content {
  max-width: 508px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.braf-inner-box {
  margin-top: 80px;
  padding: 32px 77px;
  background-color: #EAD1D0;
  margin-bottom: 137px;
}

.braf-forline {
  background-image: url("../img/line.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-position: center;
}

.brf_img {
  max-width: 530px;
}

@media screen and (max-width: 1150px) {
  .brf_img {
    max-width: 430px;
  }
  .barf-title {
    font-size: 40px;
  }
  .barf-text {
    font-size: 12px;
    line-height: 140%;
  }
  .barf-title2 {
    font-size: 13px;
    line-height: 130%;
  }
  .barf-content__list {
    font-size: 12px;
    line-height: 140%;
  }
  .barf-box {
    max-width: 400px;
  }
}
@media screen and (max-width: 880px) {
  .barf__content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brf_img {
    margin-top: 40px;
  }
}
@media screen and (max-width: 690px) {
  .braf-forline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-repeat: repeat;
  }
  .braf-inner-text {
    margin: 0 auto;
    margin-bottom: 16px;
  }
  .braf-inner-block2 {
    margin-top: 40px;
  }
  .braf-inner-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brf_img {
    max-width: 350px;
  }
}
.herro_sp::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/sevda2.svg");
  width: 255px;
  height: 60px;
  display: inline-block;
  z-index: -1;
  position: absolute;
  background-size: contain;
  top: -25px;
  left: -5px;
}

.herro_sp {
  position: relative;
  z-index: 1;
}

.herro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 74px;
}

.herro-content__text {
  max-width: 777px;
}

.herro-content_img {
  max-width: 280px;
}

.herro-inner__block {
  max-width: 222px;
}

.herro-block-title1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  margin-top: 44px;
  margin-bottom: 4px;
}

.herro-block1 {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
}

.herro-block2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #434242;
  margin-top: 16px;
  margin-bottom: 11px;
}

.herro-block3 {
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #9F9E9D;
  margin-bottom: 24px;
}

.herro-block__link1 {
  border: 1px solid #961914;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #961914;
  padding: 13px 42px;
}

.herro-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1150px) {
  .herro-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .herro-block__list {
    margin-bottom: 125px;
  }
  .herro-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 326px;
    margin: 0 auto;
  }
  .herro-content__text {
    margin-top: 26px;
    margin-bottom: 36px;
    text-align: center;
  }
  .herro-raschitat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .herro-raschitat__title {
    margin-bottom: 25px;
  }
  .herro-inner__block {
    margin: 0 auto;
  }
}
@media screen and (max-width: 540px) {
  .herro_sp::before {
    content: "";
    width: 100px;
    height: 40px;
    display: inline-block;
    z-index: -1;
    position: absolute;
    background-size: contain;
    top: -11px;
  }
  .herro-content__title {
    font-size: 20px;
  }
}
.herro-raschitat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #EAD1D0;
  padding-left: 50px;
  padding-top: 52px;
  padding-bottom: 54px;
  padding-right: 121px;
  margin-top: 80px;
  background-repeat: no-repeat;
  background-image: url("../img/line.svg");
  background-size: cover;
}

.herro-raschitat__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0.02em;
  max-width: 705px;
}

.herro-raschitat__link {
  padding: 13px 42px;
  background: #961914;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .herro-raschitat__title {
    font-size: 20px;
    max-width: 400px;
    text-align: center;
  }
  .herro-raschitat {
    padding: 20px;
  }
}
.pochumu {
  margin-top: 180px;
}

.pochimu-content {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pochimu-content__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}

.pochimu-content__list,
.pochimu-content__list2,
.pochimu-content__list3,
.pochimu-content__list4,
.pochimu-content__list5,
.pochimu-content__list6,
.pochimu-content__list7,
.pochimu-content__list8 {
  max-width: 260px;
}

.pochimu-content__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-top: 10px;
}

.pochimu-content__list::before {
  content: "";
  background-image: url("../img/pochimu__sevda1.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-title::after {
  content: "";
  background-image: url("../img/chiziqcha.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
  position: absolute;
  top: 35px;
}

.pochimu-title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #000000;
  position: relative;
}

.pochimu-content__list2::before {
  content: "";
  background-image: url("../img/pochimu__sevda2.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-content__list3::before {
  content: "";
  background-image: url("../img/pochimu__sevda3.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-content__list4::before {
  content: "";
  background-image: url("../img/pochimu__sevda4.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

@media screen and (max-width: 1130px) {
  .pochimu-content {
    max-width: 600px;
    margin: 0 auto;
  }
  .pochimu-content__list,
.pochimu-content__list2,
.pochimu-content__list3,
.pochimu-content__list4 {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  .pochimu-content {
    max-width: 300px;
    margin: 0 auto;
  }
  .pochimu-content__list,
.pochimu-content__list2,
.pochimu-content__list3,
.pochimu-content__list4 {
    margin-bottom: 40px;
  }
  .pochimu-title::after {
    width: 40px;
    height: 60px;
    top: 35px;
  }
  .pochimu-title {
    font-size: 40px;
  }
}
.box-love {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF4F3;
  padding: 80px 20px;
  padding-right: 40px;
  margin-top: 180px;
}

.love-content-title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
}

.love-content-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #434242;
  margin-bottom: 20px;
  max-width: 510px;
}

.love_img {
  max-width: 556px;
}

@media screen and (max-width: 1220px) {
  .box-love {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .love-content-title {
    margin-top: 80px;
  }
}
@media screen and (max-width: 600px) {
  .love_img {
    max-width: 300px;
  }
  .love-content-title {
    font-size: 38px;
  }
  .love-content-text {
    font-size: 12px;
  }
}
.pochimu-content__list5::before {
  content: "";
  background-image: url("../../img/sevda5.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-content__list6::before {
  content: "";
  background-image: url("../../img/sevda6.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-content__list7::before {
  content: "";
  background-image: url("../../img/pochimu__sevda3.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.pochimu-content__list8::before {
  content: "";
  background-image: url("../../img/sevda8.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 60px;
}

.quition {
  margin-top: 180px;
}

.quition__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
}

.quition__main {
  max-width: 700px;
}

.quition__main-title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
}

.quition__main-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #434242;
  margin-top: 12px;
  padding-bottom: 32px;
}

.quition__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 118px;
}

.quition__main-title-box {
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quition__item-text {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  max-width: 700px;
}

.quition__item {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.288);
}

.quition__item:nth-child(8) {
  border-bottom: none;
}

@media only screen and (max-width: 1200px) {
  .quition__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quition__title {
    margin-bottom: 44px;
  }
}
@media only screen and (max-width: 750px) {
  .quition__title {
    font-size: 40px;
  }
}
.site-footer {
  margin-top: 180px;
}

.site-footer1 {
  background-color: #961914;
  padding: 80px 0;
}

.footer__conatiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 8px;
}

.footer-text1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  max-width: 302px;
  margin-bottom: 32px;
}

.footer__link2 {
  display: block;
}

.footer__link-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 24px;
}

.footer__link-3,
.footer__link-2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  padding: 10px 16px 10px 44px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 223px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left 16px center;
}

.footer__link-2 {
  margin-bottom: 16px;
  background-image: url("../../img/telegram.svg");
}

.footer__link-3 {
  margin-bottom: 40px;
  background-image: url("../../img/whatsap.svg");
}

.footer-inner-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  max-width: 302px;
}

.footer-block {
  margin-left: 40px;
  max-width: 602px;
  width: 100%;
}

.footer-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 4px;
}

.footer-block__text {
  font-weight: regular;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  margin-bottom: 34px;
}

.footer__form {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__input {
  width: 48%;
  border: none;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 14px 13px;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  outline-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
}

.footer__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__textarea {
  width: 100%;
  height: 122px;
  resize: none;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  margin-bottom: 16px;
}

.footer__checkbox1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__checkbox {
  width: 16px;
  height: 16px;
}

.footer__checkbox-text {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  max-width: 232px;
  margin-left: 8px;
}

.footer__butoon {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #EC7973;
  padding: 13px 55px;
  border: none;
  background: #FFF4F3;
  border-radius: 8px;
}

.footer-end-content {
  background-color: #69120E;
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-end p {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.4;
}

.footer-end-text2 {
  padding: 0 15px;
}

@media only screen and (max-width: 1200px) {
  .footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-end-text1, .footer-end-text2 {
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 825px) {
  .footer__conatiner,
.footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto;
  }
  .footer-end-text2 {
    padding: 24px 0 8px 0;
  }
  .footer-end-text1 {
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
  }
  .site-footer__left-content {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-text1 {
    margin: 0 auto;
  }
  .footer-inner-text {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer__link-3, .footer__link-2 {
    width: 313px;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .footer__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__input {
    width: 100%;
  }
  .footer__butoon {
    margin-top: 33px;
  }
  .footer-block__text, .footer-block__title {
    max-width: 300px;
  }
  .nima-yozishni__bilmadm {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-text1 {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */